<configuration>
	<servers>
		<server>
			<MAC>1A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.1</IP>
		</server>
		<server>
			<MAC>2A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.2</IP>
		</server>
		<server>
			<MAC>3A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.3</IP>
		</server>
		<server>
			<MAC>4A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.4</IP>
		</server>
		<server>
			<MAC>5A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.5</IP>
		</server>
		<server>
			<MAC>6A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.6</IP>
		</server>
		<server>
			<MAC>7A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.7</IP>
		</server>
		<server>
			<MAC>8A:AA:AA:AA:AA:AA</MAC>
			<IP>10.0.0.8</IP>
		</server>
	</servers>
	<clients>
		<client>
			<MAC>1B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.1</IP>
		</client>
		<client>
			<MAC>2B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.2</IP>
		</client>
		<client>
			<MAC>8B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.8</IP>
		</client>
		<client>
			<MAC>3B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.3</IP>
		</client>
		<client>
			<MAC>4B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.4</IP>
		</client>
		<client>
			<MAC>5B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.5</IP>
		</client>
		<client>
			<MAC>6B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.6</IP>
		</client>
		<client>
			<MAC>7B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.7</IP>
		</client>
		<client>
			<MAC>9B:BB:BB:BB:BB:BB</MAC>
			<IP>10.1.0.9</IP>
		</client>
	</clients>
</configuration>
